@media screen and (max-width:576px) {
    .header, .hot-deal{
        flex-direction: column-reverse;
        justify-items: center;
        justify-content: center;
        gap:0px;
    }    
    .flowers-container, .dev-details, .insta-gallery{
        flex-direction: column;
        justify-items: center;
        justify-content: center;
       
    }
    .insta-gallery{
        margin-left: 87px;
    }
    .flowers-container{
        margin-left: 38px;
    }
    .dev-details{
        gap: 20px;
    }
    .header-content{
        text-align: center;
    }
    .hot-img{
        margin: 0px 0px;
        margin-right: 120px;
    }
}